<strong>Olá, {{ student }}</strong>
<p>Bem-vindo ao GYM, agora você faz parte da nossa família,
  confira abaixo os dados do seu contrato </p>
<p>
  <strong>Início: </strong>{{ startDate }} <br>
  <strong>Término: </strong>{{ endDate }} <br>
  <strong>Valor: </strong>{{ price }} <br>
  <br>
</p>